{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": ["@typescript-eslint", "react-native", "prettier", "import"],
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",

    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "error",
      { "variables": false }
    ],

    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],

    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/no-unused-prop-types": "off",
    "react/prop-types": "off",

    "react-native/no-unused-styles": "error",
    "react-native/no-color-literals": "error",
    "react-native/no-inline-styles": "warn",

    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object"
        ],
        "pathGroups": [
          {
            "pattern": "@cocorico/**",
            "group": "internal",
            "position": "after"
          }
        ]
      }
    ],

    "prettier/prettier": "error"
  }
}
