<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20901951452-3nasek5aiup78pptag0a2a7cidrp5s44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20901951452-3nasek5aiup78pptag0a2a7cidrp5s44</string>
	<key>API_KEY</key>
	<string>AIzaSyDgaGhGK1LEZXW4QGQ2ToOpoEAqrkjPSps</string>
	<key>GCM_SENDER_ID</key>
	<string>20901951452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.cocorico</string>
	<key>PROJECT_ID</key>
	<string>cocorico-c7133</string>
	<key>STORAGE_BUCKET</key>
	<string>cocorico-c7133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20901951452:ios:8c6e7de7d58fe5ca6e8119</string>
	<key>DATABASE_URL</key>
	<string>https://cocorico-c7133.firebaseio.com</string>
</dict>
</plist>